<!DOCTYPE html>
	<html>
		<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% seo %}
  <meta name="google-site-verification" content="mEL-26Tqr0n_HuUxquQTWrXpKgZ3YKgIHCdpszYJUac" />
</head>
		<body>
		  <div id="globalcontainer">
			<nav>
	    		<ul>
	        		<li><a href="{{ base }}/about">About</a></li>
        			<li><a href="https://github.com/ioire/ioire.github.io/tree/master/images/CV.pdf" target="_blank"  download="IodiceCV">CV</a></li>
				<li><a href="{{ base }}/research">Research</a></li>
        			<li><a href="{{ base }}/teaching">Teaching</a></li>
	        		<!--<li><a href="{{ base }}/misc">Misc.</a></li>-->
	    		</ul>
			</nav>
			<div>
			
			{{ content }}
			
			</div><!-- /.container -->
		
			<footer>
	    		<ul>
				<li> <span style="float: left"> 2020 © ireneiodice.fr | <a href="mailto:Irene.Iodice@etu.univ-paris1.fr">
		email </a>
</span>
				<li><a href="https://github.com/ioire"> <img src="{{ base }}/images/github_img.png" width="27" height="27" align="middle"> </a></li>
				</ul>
			</footer>
		  </div>
		</body>
	</html>
